/* RESET */
body {
    overflow: hidden;
}
li {
    list-style-type: none;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

/* -- HEADER --*/
header {
    background-color: rgb(248,249,250);
}
nav {
    background-color: white;
}
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

/* Navbar Logo */
.logo-bootstrap {
    height: 40px;
}
.logo-bootstrap-mobile {
    height: 60px;
}

/* Navbar Search Input */
#search-container {
    background-color: rgb(229,229,229);
}
header .fa-magnifying-glass {
    line-height: 1.5;
}
#nav-search-input {
    background-color: rgb(229,229,229);
    border: 0;
    width: 100%;
}

/* VERSIONE ALTERNATIVA SEARCH INPUT */
/* #nav-search-input {
    background-color: rgb(229,229,229);
    border: 0;
    width: 100%;
    margin-top: 3px;
}
.form-floating>label {
    padding: 0.2rem 0.5rem;
} */

/* Icone */
header .fa-bell {
    color: orange;
}

/* Header Media Query */
@media screen and (min-width:1400px) {
    .logo-bootstrap {
        height: 60px;
    }
    #nav-search-input {
        font-size: 25px;
    }
    header .fa-magnifying-glass {
        line-height: 2;
    }
}

/* -- MAIN CONTAINER-- */
#main-container { 
    height: calc(100vh - 76px);
    overflow: auto;
}
@media screen and (min-width:768px) {
    #main-container { 
        height: calc(100vh - 90px);
    }
}
@media screen and (min-width:1400px) {
    #main-container { 
        height: calc(100vh - 104px);
    }
}


/* -- SIDENAV -- */
#sidebar {
    /* width: 250px; */
    width: 80px;
    background-color: rgb(5,30,52);
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#sidebar a:hover {
    background-color: rgba(106, 99, 99, 0.608);
    transition: 0.8s;
}
@media screen and (min-width:992px) {
    #sidebar {
        width: 250px;
    }
}


/* -- MAIN -- */    
main {
    background-color: rgb(248,249,250);
    width: calc(100% - 80px);
    overflow: auto;
}

#main-topper {
    background-color: rgb(27,114,232);
    height: 100px;
}